/* Menu-page animation*/
@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.menu-bubble-dish:nth-child(1) {
  animation-delay: 0s; }

.menu-bubble-dish:nth-child(2) {
  animation-delay: 0.5s; }

.menu-bubble-dish:nth-child(3) {
  animation-delay: 1s; }

.menu-bubble-dish:nth-child(4) {
  animation-delay: 1.5s; }

/*Loader*/
@keyframes dot-loader {
  100% {
    transform: translateY(-30px); } }

@-webkit-keyframes dot-loader {
  100% {
    transform: translateY(-30px); } }

@keyframes loader {
  from {
    visibility: visible; }
  80% {
    opacity: 1; }
  to {
    visibility: hidden;
    opacity: 0; } }

@-webkit-keyframes loader {
  from {
    visibility: visible; }
  80% {
    opacity: 1; }
  to {
    visibility: hidden;
    opacity: 0; } }

body {
  font-family: 'Roboto', sans-serif; }

.menu-title-txt h1 {
  font-family: 'Shrikhand', sans-serif;
  text-align: center; }

.btn {
  color: white;
  display: inline-block;
  padding: 15px;
  border-radius: 25px;
  text-decoration: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC); }
  .btn:hover {
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    filter: brightness(105%); }

input[type=checkbox] {
  display: none; }
  input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer; }
  input[type=checkbox]:checked + label {
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text; }
  input[type=checkbox]:checked + label > i {
    color: transparent; }

.restaurant-bubble {
  margin: 20px 20px;
  height: 200px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .restaurant-bubble img {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 100%;
    height: 140px; }
  .restaurant-bubble a {
    color: black;
    text-decoration: none; }
  .restaurant-bubble .restaurant-bubble-sub {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .restaurant-bubble .restaurant-bubble-sub-txt {
      margin: 8px 0 8px 15px; }
      .restaurant-bubble .restaurant-bubble-sub-txt h4 {
        font-weight: 300; }
    .restaurant-bubble .restaurant-bubble-sub i {
      margin-right: 15px;
      color: lightgray;
      font-size: 20px; }
      .restaurant-bubble .restaurant-bubble-sub i:hover {
        color: #ff79da; }

.menu-bubble {
  margin: 0 20px 20px 20px;
  text-align: left; }
  .menu-bubble h2 {
    width: fit-content;
    border-bottom: 3px solid #99E2D0; }
  .menu-bubble-dish {
    animation: slideUp 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex; }
    .menu-bubble-dish h3 {
      font-weight: 500;
      font-size: large;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .menu-bubble-dish h4 {
      font-weight: 300;
      font-size: medium;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .menu-bubble-dish p {
      padding-left: 10px; }
    .menu-bubble-dish i {
      transform: rotate(1turn);
      visibility: hidden; }
    .menu-bubble-dish:hover .overlay {
      width: 59px;
      transition: width 1s; }
    .menu-bubble-dish:hover i {
      transition: 1s;
      visibility: visible;
      transform: rotate(0deg); }
    .menu-bubble-dish:hover .dish-price {
      min-width: 82%;
      transition: width 1s; }
    .menu-bubble-dish .overlay {
      margin: -10px -10px -10px 0;
      width: 0;
      overflow: hidden;
      border-radius: 0 12px 12px 0;
      background-color: #99E2D0; }
      .menu-bubble-dish .overlay .checkmark {
        color: white;
        font-size: larger;
        position: relative;
        top: 33%;
        left: 35%; }
  .menu-bubble .dish-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: 10px;
    font-weight: 500; }
    .menu-bubble .dish-price .overlay {
      justify-content: right; }
  .menu-bubble .dish-txt {
    overflow: hidden;
    white-space: nowrap; }

@media all and (min-width: 672px) {
  .menu-bubble-sec {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .menu-bubble-dish {
    width: 30%; } }

ul {
  list-style: none; }

header {
  width: auto;
  height: auto;
  text-align: center; }
  header .catchphrase {
    padding: 20px 50px;
    background-color: #f6f6f6; }
  header h1 {
    margin-bottom: 15px;
    font-size: xx-large; }
  header h2 {
    margin-bottom: 30px;
    font-weight: lighter; }

.home-nav {
  width: auto;
  height: auto;
  margin-top: 20px;
  text-align: center; }
  .home-nav .location {
    font-weight: bolder;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #eaeaea;
    border-top: 2px solid #cacaca; }
  .home-nav i {
    padding-right: 10px; }

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; }
  .menu-nav i {
    color: black;
    font-size: x-large; }

footer {
  background-color: #353535;
  margin: 0;
  padding: 25px; }
  footer img {
    height: 20px;
    filter: invert(100%); }
  footer ul {
    margin: 0;
    padding: 0; }
  footer li {
    margin-top: 10px; }
    footer li a {
      text-decoration: none;
      color: white; }
    footer li i {
      padding-right: 10px; }

@media all and (min-width: 672px) {
  footer {
    text-align: center; }
    footer ul {
      display: flex;
      justify-content: space-around; } }

.loader-container {
  position: fixed;
  top: 0;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }

.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  margin: 0 15px;
  animation: dot-loader infinite 0.4s alternate; }

.d2 {
  animation-delay: 0.05s; }

.d3 {
  animation-delay: 0.1s; }

.step {
  width: auto;
  height: auto; }
  .step h2 {
    margin: 30px 20px; }
  .step ul {
    margin: 0;
    padding: 0;
    text-align: center; }
  .step li {
    margin-bottom: 20px; }
    .step li a {
      display: inline-block;
      width: 70%;
      font-size: 18px;
      font-weight: bold;
      padding: 25px 25px;
      border-radius: 18px;
      text-decoration: none;
      background-color: #eaeaea;
      color: black;
      white-space: nowrap; }
      .step li a:hover {
        background-color: rgba(147, 86, 220, 0.1); }
      .step li a:hover > i {
        color: #9356DC; }
    .step li i {
      padding-right: 10px; }
  .step-number {
    position: relative;
    padding: 5px 10px;
    margin: -15px;
    color: white;
    background-color: #9356DC;
    border-radius: 25px; }

.restaurant {
  width: auto; }
  .restaurant h2 {
    margin: 20px 20px; }

@media all and (min-width: 672px) {
  .step ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .step ul li {
      width: 100%; }
  .restaurant-bloc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 480px; } }

@media all and (min-width: 720px) {
  .step ul li {
    min-width: 360px;
    max-width: 33%; } }

@media all and (min-width: 990px) {
  .restaurant-bloc {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 240px;
    justify-content: space-around; }
  .restaurant-bubble {
    width: 100%;
    margin: 20px 10px; } }

.menu-page {
  text-align: center; }
  .menu-page h1 {
    font-weight: 100; }
  .menu-page .btn {
    margin: 30px; }
  .menu-page .heart {
    margin-right: 15px;
    color: lightgray;
    font-size: 20px; }
    .menu-page .heart:hover {
      color: rgba(255, 121, 218, 0.4); }

.menu-title-txt {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -50px;
  padding: 30px 15px;
  background-color: white;
  border-radius: 50px; }

.menu-pic {
  width: 100%;
  height: 300px;
  object-fit: cover; }

* {
  margin: 0;
  padding: 0; }
